/* Style specyficzne dla podstrony sklep */

#grid-root {
    align-items: flex-start;
}

#product-tab {
    flex: 7;
    flex-wrap: wrap;
    justify-content: center;
}

.product-listing {
    width: 200px;
    padding: 7px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4); */
    /* padding: 10px; */
    /* border: 1px solid gray; */
    border-bottom: 2px solid #00c3ff;
    border-right: 2px solid #00c3ff;
    justify-content: center;
}

.product-listing-img {
    /* width: 180px;
    height: 180px; */
    justify-content: center;
    background-color: #FFFFFF;
}

.product-listing-img>img {
    height: 180px;
    object-fit: cover;
    cursor: zoom-in;
    transition: 0.1s;
}

.product-listing-img>img:hover {
    object-fit: contain;
    z-index: 15;
}

.product-listing-name {
    margin-bottom: auto;
    font-family: Tahoma, sans-serif;
}

.product-listing-price {
    margin-left: auto;
}

.product-selected-count {
    font-family: 'Arial Narrow', sans-serif;
}

.product-selected-count-input {
    width: 50%;
}

.product-selected-in-cart {
    background-color: #54ff5a;
}

#cart-tab {
    position: sticky;
    top: 0px;
    flex: 2;
    min-width: min-content;
    align-items: stretch;
    max-height: calc(80vh - 20px);
    background-color: #80e1ff;
    overflow-x: auto;
}

.cart-item {
    margin-bottom: 10px;
    background-color: #00c3ff;
    padding: 5px;
}

.cart-name {
    font-family: Tahoma, sans-serif;
}

.cart-count {
    margin-left: auto;
}

.cart-price {
    margin-left: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cart-delete {
    margin-left: auto;
}

.cart-count {
    font-family: 'Arial Narrow', sans-serif;
}

.h-centered {
    margin: 0px auto;
    padding: 5px 0px;
}
