/* style głównie dla strony index, nagłówka, nawigacji */
/* i niektórych elementów dziedziczących po <div id=content> */

/* Nie dotyać! */
/* body * { border-radius: 15px; } */

body {
    margin: 0px;
    font-family: 'Verdana', sans-serif;
    background-color: #80e1ff;
}

.container {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.pad {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

#header {
    background-color: #00c3ff;
    column-gap: 10px;
    height: fit-content;
    padding: 0px 10px;
    align-items: center;
}

#settings {
    margin-left: auto;
    font-size: 14px;
}

#colswitch {
    border: 2px solid gray;
    background-color: #1a1a1a;
    color: #e8e8e8;
    text-align:center;
}

#header-item-right {
    margin-right: 15px;
    text-align: right;
}

#date, #time {
    font-size: 13px;
}

#icon {
    width: 50px;
    height: 50px;
}

#icon:hover {
    filter: contrast(130%) hue-rotate(60deg);
}

#main {
    align-items: flex-start;
    background-color: #80e1ff;
}

#nav {
    font-family: 'Tahoma', sans-serif;
    width: fit-content;
    max-width: 25vw;
    row-gap: 10px;
    position: sticky;
    top: 0px;
    background-color: #80e1ff;
}

.nav-item {
    background-color: #00c3ff;
    text-align: center;
    font-size: 15px;
    flex-shrink: 0;
    white-space:nowrap;
    overflow-x: hidden;
}

.nav-item:hover {
    filter: contrast(130%) hue-rotate(60deg);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

#content {
    flex: auto;
    background-color: #bef0ff;
    text-overflow: ellipsis;
    padding: 10px calc(1vh + 20px) 10px 10px;
    font-size: 15px;
    line-height: 1.7;
    min-height: 100%;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: #500050;
}

/* Niebezpieczne rzeczy */
.article img {
    cursor: zoom-in;
    transition: 0.1s;
    overflow: hidden;
}

.article img {
    max-width: 220px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

/* Niebezpieczne rzeczy */
.article h3, .article h4, #content br {
    margin-left: 20px;
    color: #075972;
}

.article {
    margin: 0% 5%;
}

.test-block {
    width: 200px;
    border: 2px solid rgba(41,123,42,1);
    text-align:center;
    color: #000000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scroll-to-top {
    width: 40px;
    height: 40px;
    display: block;
    position: sticky;
    bottom: -46px;
    margin-left: 95%;
    border: 3px solid #00b0ff;
    border-radius: 50%;
    transition: 0.2s;
    visibility: hidden;
    z-index: 10;
}

#scrollprogress {
    position: fixed;
    top: 0px;
    height: 0.2em;
    background-color: #fe7b00;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #fe0000;
    transition: 0.1s;
    visibility: hidden;
    z-index: 10;
}
